<!DOCTYPE html>
<html lang="es">
<head>
    <title>Torneos de Microfútbol en Bogotá</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="futcolStyles.css">
</head>
<body>
    <div class="background-opacity"></div> 
    <header>
        <div class="logo">
            <img src="../imagenes/logo1.png" alt="logo futcol">
        </div>
        <nav>
            <a href="#" class="inicio">Inicio</a>
            <a href="sobre_nosotros.html" class="sobre_nosotros">Sobre nosotros</a>
            <a href="torneos.html" class="torneos">Torneos</a>
            <a href="login_participante.html" class="login_participante">Inicio de sesión</a>
        </nav>
        <h1 class="principal">Bienvenidos a FUTCOL</h1>
    </header>  
    <main>
        <br>
        <p><b>La mejor opción para disfrutar del microfútbol en la ciudad de Bogotá.</b></p>
    </main>
</body>
