<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="futcolStyles.css">
</head>
<body id="login1">
    <header class="fondologin">
        <nav>
            <ul>
                <li><a href="futcol.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <form id="loginForm" method="POST" action="../../controlador/usuario_control.php">
                <h2>Iniciar Sesión</h2>
                <div class="form-group"><br>
                    <input type="email" id="correo" name="correo" placeholder="Introduce tu email" required>
                </div>
                <div class="form-group"><br>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Introduce tu contraseña" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Iniciar Sesión">
                </div>
                <div class="form-footer">
                    <p>¿No tienes cuenta? <a href="suscribirse.html">Regístrate aquí</a></p>
                </div>
            </form>
        </div>
    </main>
</body>
</html> 