<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes Somos</title>
    <link rel="stylesheet" href="futcolStyles.css">
</head>
<body id="nosotros">
    <header>
        <nav>
            <ul>
                <li><a href="futcol.html">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="titulo_nosotros">Nosotros</h1>
    <main>
        <div class="general_nosotros">
            
            <div class="info-box">
                <h2>Quiénes Somos</h2>
                <p>
                    Somos una organización dedicada a promover el microfútbol en la ciudad de Bogotá. Fomentamos la competencia sana y el espíritu deportivo y en equipo, desde la logística y gestión de inscripciones hasta la premiación, asegurando que cada evento sea un éxito tanto para los jugadores como para los espectadores.
                </p>
                <img src="../imagenes/imagen1.png" alt="Imagen descriptiva 1" class="image-box"> 
            </div>

            <div class="info-box">
                <h2>Visión</h2>
                <p>
                    Nuestra visión es ser el referente principal en la organización de torneos de microfútbol en Bogotá, impulsando el deporte y contribuyendo al desarrollo y bienestar de la comunidad deportiva local.
                </p>
                <img src="../imagenes/imagen2.png" alt="Imagen descriptiva 2" class="image-box"> 
            </div>

            <div class="info-box">
                <h2>Misión</h2>
                <p>
                    Nuestra misión es ofrecer eventos deportivos de alta calidad que promuevan el microfútbol, asegurando una experiencia positiva para jugadores y espectadores, y fomentando valores de competencia justa, trabajo en equipo y respeto.
                </p>
                <img src="../imagenes/imagen3.png" alt="Imagen descriptiva 3" class="image-box"> 
            </div>
        </div>    
    </main>
</body>
</html>


