<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Torneos</title>
    <link rel="stylesheet" href="futcolStyles.css">
<body id="torneos">    
</head>
        <nav>
            <ul class="encabezado">
                <li><a href="futcol.html">Inicio</a></li>
            </ul>
        </nav>
        <h1>Torneos disponibles</h1>
    <main class="general">    
        <div id="container-torneos1">
                <div class="imgBx">
                    <a href="#">
                    <img src="../imagenes/torneo liga.png" class="img1" alt="Torneo liga">
                    </a>
                    <p><br>
                        Un torneo que se extiende por varias semanas o meses, donde
                        los equipos juegan entre si en un formato de liga, acomulando
                        puntos para determinar el campeon al final de la temporada.
                        <a href="suscribirse.html"><br>
                            <button class="btn1">Suscribirse</button>
                        </a>
                    </p>
                </div>            
        </div>
        <div id="container-torneos2">
                <div class="imgBx">
                    <a href="#">
                    <img src="../imagenes/relampago.png" class="img2" alt="Torneo liga">
                    </a>
                    <p><br>
                        Un torneo de corta duración, idal para solo un día
                        o fin de semana, donde los equipos juegan partidos
                        eliminatorios rapidos hasta que se define un campeón.
                        <a href="suscribirse.html"><br>
                            <button class="btn1">Suscribirse</button>
                        </a>
                    </p>
                </div>
        </div>
        <div id="container-torneos3">
                <div class="imgBx">
                    <a href="#">
                    <img src="../imagenes/torneo de categorias.png" class="img3" alt="Torneo liga">
                    </a>
                    <p><br>
                        Torneos segmentados por edad, género, o por combinación de ambos
                        permitiendo la participación de diferentes grupos demográficos.
                        <a href="suscribirse.html"><br>
                            <button class="btn1">Suscribirse</button>
                        </a>
                    </p>
                </div>            
        </div>
        <div id="container-torneos4">
                <div class="imgBx">
                    <a href="#">
                    <img src="../imagenes/eliminacion directa.png" class="img4" alt="Torneo liga">
                    </a>
                    <p><br>
                        Una competencia donde los equipos se enfrentan en partidos individuales,
                        y el perdedor de cada encuentro queda eliminado. El ganador avanza a la siguiente ronda,
                        hasta que solo quede un equipo, que será el campeón.
                        <a href="suscribirse.html"><br>
                            <button class="btn1">Suscribirse</button>
                        </a> 
                    </p>
                </div>            
        </div>
    </main>    
    </div>    
</body>
</html>        